apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "lms.fullname" . }}-db-migrate
spec:
  backoffLimit: 1
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: migrate
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          command: ["npm", "run", "migrate"]
          envFrom:
            - secretRef:
                name: {{ .Values.database.secretName }}
